/*CSS document*/

header {
    grid-column: 1/3;
}

main {
    grid-column: 1/2;
}

body {
    font-family: Altivo, sans-serif;
    background-color: #f7f7f7;
}

div.container {
    max-width: 80em;
    margin: auto;
}

div.container-stories {
    max-width: 60em;
    margin: auto;
}

section {
    max-width: 40em;
    margin: 0 auto 2em;
}

aside {
    grid-column: 2/3;
}

article figcaption {
    color: #404040;
}

figure {
    margin: 0em 0em 1em 0em;
}

figcaption {
    margin: 0em 0em 2em 0em;
}

img {
    width: 100%;
    margin: 0em 0em 0.5em 0em;
}

p {
    color: #404040;
    margin: 0em 0em 1em 0em;
}

h1 {
    max-width: 15em;
}

h2 {
    font-family: Altivo, sans-serif;
    text-transform: uppercase;
    color: #ad563e;
}

h3 {
    font-family: Altivo, sans-serif;
    text-transform: uppercase;
    color: #ad563e;
    margin: 0em 0em 0em 0em;
}

label {
    flex: 1 0 10em;
    color: #404040;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul {
    padding: 0;
    margin: 0em 0em 3em 0em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: Altivo, sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    font-style: ;
    text-decoration: none;
}

nav ul li a {
    color: #4b3021;
    text-decoration: none;
}

nav ul li a:hover {
    color: #9b7c5d;
}

/*Photo Gallery*/

div.photogallery {
    max-width: 80em;
    margin: 0 auto;
}

main.photogallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(77% + 3em);
}

main.photogallery figure {
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

main.photogallery figcaption {
    font-family: Altivo, sans-serif;
    text-transform: uppercase;
    color: #9b7c5d;
    font-size: 1.2em;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8) {
    opacity: 1;
}

div.photogallery input {
    display: none;
}

nav.photogallery {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 0.3em;
}

.teaser-image p {
    margin: 0em 0em 1em 0em;
}
.teaser-noimage p {
    margin: 0em 0em 1em 0em;
}

/*Newsletter*/

div.newsletter {
    max-width: 50em;
    margin: auto;
}

main.newsletter {
    display: block;
}

section.personal-info ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    flex: 1 0 10em;
    box-sizing: border-box;
}

section.personal-info ul li label {
    flex: 0 0 10em;
}

section.order ul,
section.method ul {
    display: flex;
    flex-wrap: wrap;
}

section.order ul li,
section.method ul li {
    flex: 1 0 13em;
}

main.newsletter section {
    max-width: 60em;
}

main.newsletter h2 {
    margin: 0em 0em 0em 0em;
}

section p {
    margin-top: 0;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 6em;
    background: #fcfcfc;
    border: 1px solid #e8e8e8;
    padding: 0.4em;
    font-family: sans-serif;
    color: #777;
}

/*Larger Screens*/

@media screen and (min-width: 60em) {
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 2em;
    }

    div.container-stories {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 2em;
    }

    div.newsletter {
        max-width: 50em;
        margin: auto;
    }

    header {
        grid-column: 1/3;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 2em;
    }

    aside {
        grid-column: 2/3;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(mainstory.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section.mainstory figure div img {
        height: 100%;
        opacity: 0;
    }

    section.mainstory h3 {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory p {
        flex: 0 0 auto;
        margin: 0;
    }

    /*Photo Gallery*/

    div.photogallery {
        max-width: 60em;
        margin: auto;
    }

    nav.photogallery {
        display: grid;
        grid-template-columns: repeat(8, 2fr);
        grid-gap: 0.4em;
    }
}
